<nav class="top-bar" data-topbar> 
    <ul class="title-area"> 
      <li class="name"> 
        <h1><a href="/">Open Responsive</a></h1> </li> 
        <li class="toggle-topbar menu-icon">
          <a href="#"><span>Menu</span></a></li>
           </ul> 
           <section class="top-bar-section"> <!-- Right Nav Section --> <ul class="right"> 
            
              <li class="has-dropdown active" > 
                <a href="#">Foundation Templates</a>
                 <ul class="dropdown"> 
                  <li><label>Foundation Templates</label></li>
                      <li class="active"><a href="/blog_layout">BLOG Templates</a></li>
                      <li class="active"><a href="/orbit">ORBIT Template</a></li>
                      <li class="active"><a href="/grid">GRID Template</a></li>
                      <li class="active"><a href="/banner">BANNER Template</a></li>
                      <li class="active"><a href="/banned">BANNED Template</a></li>
                      <li class="active"><a href="/contact">CONTACT Template</a></li>
                      <li class="active"><a href="/feed">FEED Template</a></li>
                      <li class="active"><a href="/realty">REALTY Template</a></li>
                      <li class="active"><a href="/sidebar">SIDEBAR Template</a></li>
                      <li class="active"><a href="/store">STORE Template</a></li>
                      <li class="active"><a href="/workspace">WORKSPACE Template</a></li>
                      <li class="active"><a href="/marketing">MARKETING Template</a></li>
                      
                </ul> 
              </li>  <!-- Left Nav Section --> 
         
  
  <li class="has-dropdown active"> 
                <a href="#">BOOTSTRAP Templates</a>
                 <ul class="dropdown"> 
                  <li><label>BOOTSTRAP Templates</label></li>
                      <li class="active"><a ="/blog_layout">BLOG Templates</a></li>
                      <li class="active"><a ="/orbit">ORBIT Template</a></li>
                      <li class="active"><a ="/grid">GRID Template</a></li>
                      <li class="active"><a ="/banner">BANNER Template</a></li>
                      <li class="active"><a ="/banned">BANNED Template</a></li>
                      <li class="active"><a ="/contact">CONTACT Template</a></li>
                      <li class="active"><a ="/feed">FEED Template</a></li>
                      <li class="active"><a ="/realty">REALTY Template</a></li>
                      <li class="active"><a ="/sidebar">SIDEBAR Template</a></li>
                      <li class="active"><a ="/store">STORE Template</a></li>
                      <li class="active"><a ="/workspace">WORKSPACE Template</a></li>
                      <li class="active"><a ="/marketing">MARKETING Template</a></li>
                      
                </ul> 
              </li>  <!-- Left Nav Section --> 
 
  </ul>
<!-- EMAIL TEMPLATEs -->


<ul class="left"> 
            
              <li class="has-dropdown active" > 
                <a href="#">Foundation EMAIL Templates</a>
                 <ul class="dropdown"> 
                  <li><label>EMAIL Templates</label></li>
                     <!--  <li class="active"><a href="/blog_layout">BLOG Templates</a></li>
                      <li class="active"><a href="/orbit">ORBIT Template</a></li>
                      <li class="active"><a href="/grid">GRID Template</a></li>
                      <li class="active"><a href="/banner">BANNER Template</a></li>
                      <li class="active"><a href="/banned">BANNED Template</a></li>
                      <li class="active"><a href="/contact">CONTACT Template</a></li>
                      <li class="active"><a href="/feed">FEED Template</a></li>
                      <li class="active"><a href="/realty">REALTY Template</a></li>
                      <li class="active"><a href="/sidebar">SIDEBAR Template</a></li>
                      <li class="active"><a href="/store">STORE Template</a></li>
                      <li class="active"><a href="/workspace">WORKSPACE Template</a></li>
                      <li class="active"><a href="/marketing">MARKETING Template</a></li> -->
                      
                </ul> 
              </li>  <!-- Left Nav Section --> 
         
  
  <li class="has-dropdown active"> 
                <a href="#">BOOTSTRAP EMAIL Templates</a>
                 <ul class="dropdown"> 
                  <li><label>BOOTSTRAP EMAIL Templates</label></li>
                    <!--   <li class="active"><a ="/blog_layout">BLOG Templates</a></li>
                      <li class="active"><a ="/orbit">ORBIT Template</a></li>
                      <li class="active"><a ="/grid">GRID Template</a></li>
                      <li class="active"><a ="/banner">BANNER Template</a></li>
                      <li class="active"><a ="/banned">BANNED Template</a></li>
                      <li class="active"><a ="/contact">CONTACT Template</a></li>
                      <li class="active"><a ="/feed">FEED Template</a></li>
                      <li class="active"><a ="/realty">REALTY Template</a></li>
                      <li class="active"><a ="/sidebar">SIDEBAR Template</a></li>
                      <li class="active"><a ="/store">STORE Template</a></li>
                      <li class="active"><a ="/workspace">WORKSPACE Template</a></li>
                      <li class="active"><a ="/marketing">MARKETING Template</a></li> -->
                      
                </ul> 
              </li>  <!-- Left Nav Section --> 
 
  </ul>


<!-- EMAIL TEMPLATES -->
       </section> </nav> <hr>